.navbar-brand{
	font-size: 2rem;
	color: rgb(66, 45, 45);
}
.navbar-dark{
	background-color: #c7534d!important;
}

.nav-form{
	width: 40%!important;
}

.nav-input{
	width: 80%!important;
}
.btn-search {
	color:white;
	background-color: #972e29;
	border-color:#972e29;
}
.btn-search:hover{
	color:white;
}

.footer {
	padding-bottom: 60px;
}

.footerIn {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #771717;
}

.text-muted {
	margin-top: 25px;
	font-size: 15px;
    color: white!important;
}
